<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <!--
        날짜 : 2024/03/11
        이름 : 김선광
        내용 : ch06. 스프링부트 실습하기
    -->
</head>
<body>
    <h3>ch06.스프링부트</h3>

    <a href="/ch06/sub1/hello">hello</a>
    <a href="/ch06/sub1/greeting">greeting</a>
    <a href="/ch06/sub1/welcome">welcome</a>
    <hr>

    <h4>타임리프 출력</h4>
    <p>[[${str1}]]</p>
    <p th:text="${str2}">내용</p>
    <hr>

    <h4>타임리프 조건문</h4>
    <p>
        <span th:if="${user1.name=='홍길동'}">user1은 홍길동 입니다.</span>
        <span th:if="${user1.name=='김유신'}">user1은 김유신 입니다.</span>
    </p>
    <p>
        <span th:if="${user1.age>20}">user1은 20세 이상 입니다</span>
        <span th:unless="${user1.age>20}">user1은 20세 미만 입니다</span>
    </p>
    <p th:switch="${user2.age>20}">
        <span th:case="true">user2은 20세 이상 입니다</span>
        <span th:case="false">user2은 20세 미만 입니다</span>
    </p>
    <p>
        <span th:if="${user4}">user4는 참 입니다.</span>
        <span th:unless="${user4}">user4는 거짓 입니다.</span>
    </p>
    <hr>

    <h4>타임리프 반복문</h4>
    <table border="1">
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>생년월일</th>
            <th>휴대폰</th>
            <th>나이</th>
        </tr>
        <tr th:each="users:${users}">
            <td>[[${users.uid}]]</td>
            <td>[[${users.name}]]</td>
            <td th:text="${users.birth}">나이</td>
            <td th:text="${users.hp}">휴대폰</td>
            <td th:text="${users.age}">나이</td>
        </tr>
    </table>
    <hr>

    <h4>타임리프 링크</h4>
    <a th:href="@{/sub1/hello}">hello</a>
    <a th:href="@{/sub1/greeting}">greeting</a>
    <a th:href="@{/sub1/welcome}">welcome</a>
    <hr>

    <h4>타임리프 include</h4>
    <th:block th:include="/include/_header.html"/>
    <th:block th:include="/include/_footer.html"/>

    <div th:insert="/include/_header.html"></div>
    <div th:insert="/include/_footer.html"></div>

    <div th:replace="/include/_header.html"></div>
    <div th:replace="/include/_footer.html"></div>

    <th:block th:include="~{/include/template:: _header}"></th:block>
    <th:block th:include="~{/include/template:: _footer}"></th:block>
    <hr>

    <h4>타임리프 layout</h4>
    <a th:href="@{/sub2/content1}">layout1</a>
    <a th:href="@{/sub2/content2}">layout2</a>
    <hr>

    <h4>스프링부트 타임리프 실습</h4>
    <a th:href="@{/user1/list}">user1 목록</a>
    <a th:href="@{/user2/list}">user2 목록</a>
    <a th:href="@{/user3/list}">user3 목록</a>
    <a th:href="@{/user4/list}">user4 목록</a>
    <a th:href="@{/user5/list}">user5 목록</a>
</body>

</html>