<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user2::register</title>
</head>
<script>
    window.onload = function () {
        const formUser2 = document.formUser2;

        formUser2.onsubmit = function (e){
            e.preventDefault();

            const uid = formUser2.uid.value;
            const name = formUser2.name.value;
            const birth = formUser2.birth.value;
            const addr = formUser2.addr.value;

            const jsonData = {
                "uid":uid,
                "name":name,
                "birth":birth,
                "addr":addr
            };
            fetch(`/ch09/user2`,{
                method:'POST',
                headers: {'Content-Type':'application/json'},
                body: JSON.stringify(jsonData)
            })
                .then(response=> response.json())
                .then(data=>{
                    console.log(data);
                    if(data != null){
                        alert('등록되었습니다!');
                        location.href = '/ch09/user2/list';
                    }
                })
                .catch((err)=>{
                console.log(err);
            })
        }
    }
</script>
<body>
<a href="/ch09/">메인</a>
<a href="/ch09/user2/list">목록</a>
<form name="formUser2" method="post">
    <table border="1">
        <h3>user2 등록</h3>
        <a href="/ch09/">메인</a>
        <tr>
            <td>아이디</td>
            <td><input type="text" name="uid"></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>생년월일</td>
            <td><input type="date" name="birth"></td>
        </tr>
        <tr>
            <td>주소</td>
            <td><input type="text" name="addr"></td>
        </tr>
        <tr>
            <td colspan="2" align="right"><input type="submit" value="등록"></td>
        </tr>
    </table>

</form>
</body>
</html>