<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>user4::list</title>
</head>
<body>
<h3>user4 목록</h3>

<a href="/ch07/">메인</a>
<a href="/ch07/user4/register">등록</a>

<table border="1">
    <tr>
        <th>아이디</th>
        <th>이름</th>
        <th>성별</th>
        <th>나이</th>
        <th>휴대폰</th>
        <th>주소</th>
        <th>관리</th>
    </tr>
    <tr th:each="user:${users}">
        <td th:text="${user.uid}">아이디</td>
        <td th:text="${user.name}">이름</td>
        <td th:text="${user.gender}">성별</td>
        <td th:text="${user.age}">나이</td>
        <td th:text="${user.hp}">휴대폰</td>
        <td th:text="${user.addr}">주소</td>
        <td>
            <a th:href="@{/user4/modify(uid=${user.uid})}">수정</a>
            <a th:href="@{/user4/delete(uid=${user.uid})}">삭제</a>
        </td>
    </tr>
</table>
</body>
</html>