<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/defaultLayout.html}">

<div class="container-fluid px-4" layout:fragment="content">
    <script th:inline="javascript">
        window.onload = function (){

            // 파일 다운로드 카운트 동적 처리
            const fileLinks = document.getElementsByClassName('fileLink');

            for(const fileLink of fileLinks){

                // 파일 다운로드와 동시에 카운트 요청
                fileLink.onclick = async function(){
                    const count = this.nextElementSibling.innerText;
                    this.nextElementSibling.innerText = parseInt(count) + 1;

                }
            }

            // 좋아요 싫어요 동적 처리
            const btnGood = document.getElementsByClassName('btnGood')[0];
            const btnHate = document.getElementsByClassName('btnHate')[0];

            // 좋아요
            function setupGoodCount(noValue){

                const goodSpan = document.getElementById('goodSpan');

                let currentValue = localStorage.getItem("goodCounter" + noValue)

                if(!currentValue){
                    currentValue = 0;
                    localStorage.setItem("goodCounter" + no, currentValue);
                }

                goodSpan.textContent = currentValue;

                function incrementValue(){
                    currentValue++;
                    localStorage.setItem("goodCounter" + no, currentValue);
                    goodSpan.textContent = currentValue;

                }

                btnGood.addEventListener('click', incrementValue);
            }

            // 싫어요
            function setupHateCount(noValue){
                const hateSpan = document.getElementById('hateSpan');
                let currentValue = localStorage.getItem("hateCounter" + noValue)

                if(!currentValue){
                    currentValue = 0;
                    localStorage.setItem("hateCounter" + no, currentValue);
                }

                hateSpan.textContent = currentValue;

                function incrementValue(){
                    currentValue++;
                    localStorage.setItem("hateCounter" + no, currentValue);
                    hateSpan.textContent = currentValue;
                }
                btnHate.addEventListener('click', incrementValue);

            }
            // 상단 <script> 선언 태그에 th:inline="javascript" 속성 추가
            const no = [[${articleDTO.no}]]

            let noValue = parseInt(no);
            setupGoodCount(noValue);
            setupHateCount(noValue);


            //////////////////////////////////////////////////////////////////////////
            // 댓글 불러오기
            //////////////////////////////////////////////////////////////////////////
            const commentList = document.getElementById('commentList');

            // fetchGet 함수는 await 비동기 실행되기 때문에 이벤트 핸들러 function 앞에 async추가
            // 페이지 로드 후 바로 댓글목록 데이터를 요청하기 보다는 2초정도 뒤에 요청하면 좀 더 안정적
            setTimeout(async function(){

                const comments = await fetchGet(`/sboard/comment/${no}`);
                console.log('comments : ' + comments);
                for(const comment of comments){

                    const commentArticle = `<div class="mb-3 comment" data-no="${comment.no}">
                                                    <ol class="breadcrumb mb-1">
                                                         <li class="breadcrumb-item">${comment.writer}</li>
                                                         <li class="breadcrumb-item">${comment.rdate.substring(0, 10)}</li>
                                                    </ol>

                                                    <textarea class="form-control" rows="3" readonly>${comment.content}</textarea>
                                                    <div class="text-end mt-1">
                                                        <button type="button" class="btn btn-warning btn-sm btnModify" data-mode="modify" data-no="${comment.no}">
                                                            <i class="bi bi-pencil-square">수정</i>
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-sm btnRemove" data-mode="remove" data-no="${comment.no}">
                                                            <i class="bi bi-trash2-fill">삭제</i>
                                                        </button>
                                                    </div>
                                            </div>`;
                    // 태그 문자열 삽입
                    commentList.insertAdjacentHTML('beforeend',commentArticle);
                }

            }, 2000);

            //////////////////////////////////////////////////////////////////////////
            //  댓글 삭제/수정(동적 이벤트 처리)
            //////////////////////////////////////////////////////////////////////////
            document.addEventListener('click', function(e) {

                if(e.target.dataset.mode == 'remove'){
                    e.preventDefault();
                    // 동적으로 삭제할 댓글 디브
                    const commentdiv = e.target.closest('.comment');

                    // 댓글 번호
                    const no = e.target.dataset.no;
                    console.log('no : '+no);

                    const data = fetchDelete(`/sboard/comment/${no}`);

                    if(data){
                        alertModal("삭제 되었습니다.");
                        commentdiv.remove();
                    }

                }else if(e.target.dataset.mode == 'modify'){

                    // 수정모드
                    const comment = e.target.closest('.comment');
                    const textarea = comment.getElementsByTagName('textarea')[0];
                    const btnModify = comment.getElementsByClassName('btnModify')[0];
                    const btnRemove = comment.getElementsByClassName('btnRemove')[0];
                    console.log(textarea);

                    textarea.readOnly = false;
                    textarea.style.outline = "1px solid #111";
                    textarea.focus();
                    textarea.setSelectionRange(textarea.value.length, textarea.value.length)

                    btnModify.innerText = "확인";
                    btnModify.dataset.mode = 'update';

                    btnRemove.innerText = "취소";
                    btnRemove.dataset.mode = 'cancel';

                }else if(e.target.dataset.mode == 'cancel'){
                    //alertModal('취소!');
                    const comment = e.target.closest('.comment');
                    const textarea = comment.getElementsByTagName('textarea')[0];
                    const btnModify = comment.getElementsByClassName('btnModify')[0];
                    const btnRemove = comment.getElementsByClassName('btnRemove')[0];

                    textarea.readOnly = true;
                    textarea.style.outline = 'none';
                    btnModify.dataset.mode = 'modify';
                    btnRemove.innerText = "삭제";
                    btnRemove.dataset.mode = 'remove';

                }else if(e.target.dataset.mode == 'update'){
                    const comment = e.target.closest('.comment');
                    const textarea = comment.getElementsByTagName('textarea')[0];
                    const no = comment.dataset.no;

                    const jsonData = {
                        "no" : no,
                        "content" : textarea.value
                    }

                    console.log(jsonData);

                    // PUT용 fetch 함수
                    const data = fetchPut(`/sboard/comment`, jsonData);

                    console.log(data);

                    alertModal('수정되었습니다!');
                }


            });

            //////////////////////////////////////////////////////////////////////////
            // 댓글 등록
            //////////////////////////////////////////////////////////////////////////
            const commentForm = document.commentForm;

            commentForm.onsubmit = async function (e){
                e.preventDefault();

                const jsonData = {
                    "parent": commentForm.parent.value,
                    "writer": commentForm.writer.value,
                    "content": commentForm.content.value
                };

                console.log(jsonData);

                // Post용 fetchData 호출(util.js 확인, 기존 fetchData 이름을 fetchGet으로 변경)
                const data = await fetchPost(`/sboard/comment`, jsonData);

                console.log(data);

                // 댓글 목록 동적 처리
                const commentArticle = `<div class="mb-3">
                                            <ol class="breadcrumb mb-1">
                                                <li class="breadcrumb-item">${data.writer}</li>
                                                <li class="breadcrumb-item">${data.rdate.substring(0, 10)}</li>
                                            </ol>

                                            <textarea class="form-control" rows="3" readonly>${data.content}</textarea>
                                            <div class="text-end mt-1">
                                                <button type="button" class="btn btn-warning btn-sm">
                                                    <i class="bi bi-pencil-square">수정</i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-sm">
                                                    <i class="bi bi-trash2-fill">삭제</i>
                                                </button>
                                            </div>

                                        </div>`

                // 태그 문자열 삽입
                commentList.insertAdjacentHTML('beforeend', commentArticle);


            }


            //////////////////////////////////////////////////////////////////////////
            // 원글 수정, 삭제
            //////////////////////////////////////////////////////////////////////////
            const btn_Modify = document.getElementById('btn_Modify');
            const btn_Delete = document.getElementById('btn_Delete');
            const url = location.href;
            const params = url.split('&')[1];
            const cate = params.split('=')[1];

            btn_Modify.onclick = function (e){
                e.preventDefault();

                location.href = `/sboard/article/modify?no=${no}&cate=${cate}`;

            }

            btn_Delete.onclick = function (e){
                e.preventDefault();
                const data = fetchDelete(`/sboard/article/${no}`);
                console.log(data);
                if(data != null){
                    alertModal('삭제되었습니다!');
                }
            }

        }
    </script>

    <h1 class="mt-4">게시판 글 보기</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"></li>
    </ol>

    <!-- 내용 시작 -->
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            [[${boardName}]] 글보기
        </div>
        <div class="card-body">

            <form>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label" >글제목</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="title" readonly th:value="${articleDTO.title}">
                </div>
                <div th:if="${articleDTO.file>0}" class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">첨부파일</label>
                    <ul class="list-group">

                        <li th:each="file:${articleDTO.fileList}" class="list-group-item d-flex justify-content-between align-items-center">
                            <a th:href="@{/file/download/{fno}(fno=${file.fno})}" class="fileLink" th:data-fno="${file.fno}">$[[${file.oName}]]</a>
                            <span class="badge text-bg-primary rounded-pill">[[${file.download}]]</span>
                        </li>

                    </ul>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">글내용</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" readonly name="content">[[${articleDTO.content}]]</textarea>
                </div>

                <div class="text-end">
                    <button type="button" class="btn btn-success btn_Modify" id="btn_Modify">
                        <i class="bi bi-pencil-square"></i>
                        수정
                    </button>
                    <button type="button" class="btn btn-secondary btn_Delete" id="btn_Delete">
                        <i class="bi bi-trash2-fill"></i>
                        삭제
                    </button>
                </div>
            </form>
        </div>
    </div>

    <button type="button" class="btn btn-info position-relative btnGood">
            좋아요👍
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info" id="goodSpan"> 1 </span>
    </button>

    <button type="button" class="btn btn-danger position-relative btnHate">
            싫어요👎
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="hateSpan"> 0 </span>

    </button>

    <div class="text-end">
        <a th:href="@{/article/list}" class="btn btn-primary m-3">목록</a>
    </div>



    <!-- 댓글목록 시작 -->
    <div id="commentList">
        <label for="exampleFormControlTextarea1" class="form-label fw-bold">댓글목록</label>

        <!--
            처음 글을 불러올때 댓글은 플레이스홀더로 표시하고 이후 AJAX(fetch)로
            댓글 불러와서 플레이스홀더를 제거하고 댓글을 출력
        -->



    </div>

    <form name="commentForm">
        <input type="hidden" name="parent" th:value="${articleDTO.no}">
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <input type="hidden" name="writer" th:value="${#authentication.principal.user.uid}">
        </div>

        <div class="input-group">
            <span class="input-group-text">댓글입력</span>
            <textarea name="content" class="form-control" aria-label="With textarea" rows="5"></textarea>
        </div>

        <div class="mt-4 mb-4 text-end">
            <button type="button" class="btn btn-secondary">취소</button>
            <input type="submit" class="btn btn-primary" value="댓글등록"/>
        </div>
    </form>
    <!-- 댓글 목록 끝끝-->

    <!-- 내용 끝 -->
</div>
</html>