<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/userlayout}">
<!--
    날짜 : 2024/03/25
    이름 : 김선광
    내용 : 아이디 찾기 기능 구현하기

    - http://localhost:8080/sboard/user/findId
    - 회원가입한 이메일로 인증을 받고 이름과 이메일로 사용자 조회
    - 조회된 사용자는 아이디 찾기 결과 페이지에 출력
-->
<div class="container" layout:fragment="content">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>

        //유효성 검사에 사용할 상태변수
        let isNameOk  = false;
        let isEmailOk = false;

        // 유효성 검사에 사용할 정규표현식
        const reName  = /^[가-힣]{2,10}$/
        const reEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;

        window.onload = function (){

            // 이름 유효성 검사
            const inputName = document.getElementsByClassName('inputName');
            const resultName = document.getElementById('resultName');

            inputName[0].addEventListener('focusout', async ()=> {
                const value = inputName[0].value;
                console.log(value)
                const type = 'name';

                if(!value.match(reName)){
                    showInputInvalid(inputName);
                    showResultInvalid(resultName, '이름이 올바르지 않습니다.');
                    isNameOk = false;
                    return;
                }

                const result = await fetchGet(`/sboard/selectName/${type}/${value}`)
                console.log('nameResult : ' + result);

                if(result == 1){
                    showInputValid(inputName);
                    showResultValid(resultName, ' ');
                    isNameOk = true;
                }else{
                    showInputInvalid(inputName);
                    showResultInvalid(resultName, '일치하는 이름이 없습니다.');
                    isNameOk = false;
                    return;
                }
            });

            // 이메일 유효성검사
            const inputEmails = document.getElementsByClassName('inputEmail');
            const resultEmail = document.getElementById('resultEmail');
            const btnCheckEmail = document.getElementById('btnCheckEmail');
            const divEmailCode = document.getElementById('divEmailCode');


                btnCheckEmail.onclick = async function (){
                    console.log('isNameOk : '+isNameOk);
                    const type = this.dataset.type;
                    const value = inputEmails[0].value;

                    // 유효성 검사
                    if(isNameOk){
                        if(!value.match(reEmail)){
                            showInputInvalid(inputEmails);
                            showResultInvalid(resultEmail, '이메일이 형식에 맞지 않습니다.');
                            isNameOk = false;
                        }
                        const result = await fetchGet(`/sboard/idEmail/${type}/${value}`);
                        const count = result.result;
                        console.log(count);

                        if(count != 0){
                            showInputValid(inputEmails);
                            showResultValid(resultEmail, '이메일이 전송되었습니다.');
                        }else{
                            showInputInvalid(inputEmails);
                            showResultInvalid(resultEmail, '존재하지 않는 이메일입니다.');
                        }



                    }else{
                        showInputInvalid(inputEmails);
                        showResultInvalid(resultEmail, '이름을 확인해주세요!');
                    }
                }

                // 이메일 인증번호 확인 후 isEmailOk true 반환
                const inputEmailCodes    = document.getElementsByClassName('inputEmailCode');
                const btnCheckEmailCode = document.getElementById('btnCheckEmailCode');

                btnCheckEmailCode.onclick = async function(){
                    const value = inputEmailCodes[0].value;
                    const resultEmailCode = document.getElementById('resultEmailCode');
                    console.log(value);

                    const data = await fetchGet(`/sboard/email/${value}`);

                    console.log(data.result);
                    if(data.result){
                        showInputValid(inputEmails);
                        showInputValid(inputEmailCodes);
                        showResultValid(resultEmailCode, '이메일이 인증되었습니다.');
                        isEmailOk = true;
                    }else{
                        showInputInvalid(inputEmails);
                        showInputInvalid(inputEmailCodes);
                        showResultInvalid(resultEmailCode, '인증코드가 일치하지 않습니다.');
                        isEmailOk = false;
                    }

                }
                // isNameOk, isEmailOk 둘 다 트루 일 때 다음 버튼
                const btnNext = document.getElementById('btnNext');
                btnNext.onclick = function (e){
                    e.preventDefault();
                    const name = inputName[0].value;
                    /*
                    if(!isNameOk){
                        showModal('아이디를 확인하세요');
                        return false;
                    }
                    if(!isEmailOk){
                        showModal('이메일 인증을 완료하세요');
                        return false;
                    }
                    */
                    location.href=`/sboard/user/findIdResult?name=${name}`;
                    return true;
                }

        }
    </script>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">아이디 찾기</h3></div>
                <div class="card-body">
                    <form name="formFindId" method="post">
                        <div class="row mb-3">
                            <div class="col-md-7">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control inputName" type="text" id="inputName" name="name" placeholder="" data-type="name" />
                                    <label for="inputName">이름 입력</label>
                                </div>
                                <div id="resultName" class="d-block"></div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-7">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control inputEmail" type="text" id="inputEmail" name="email" placeholder="이메일 입력" />
                                    <label for="inputEmail">이메일 입력</label>
                                </div>
                                <div id="resultEmail" class="d-block"></div>
                            </div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-outline-secondary w-100" id="btnCheckEmail" data-type="email">
                                    <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span class="" role="status">이메일 인증</span>
                                </button>
                            </div>
                        </div>

                        <div class="row mb-3" id="divEmailCode">
                            <div class="col-md-7">
                                <div class="form-floating mb-3">
                                    <input class="form-control inputEmailCode" type="text" id="inputEmailCode" name="code" placeholder="인증번호 입력" />
                                    <label for="inputEmailCode">인증번호 입력</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-outline-secondary w-100" id="btnCheckEmailCode">
                                    <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span class="" role="status">인증확인</span>
                                </button>
                            </div>
                        </div>

                        <div id="resultEmailCode" class="d-block"></div>

                        <p class="small">
                            회원가입시 이메일 주소와 입력한 이메일 주소가 같아야, 인증번호를 받을 수 있습니다.<br>
                            인증번호를 입력 후 확인 버튼을 누르세요.
                        </p>
                    </form>

                </div>
                <div class="card-footer text-center py-3">
                    <div>
                        <a th:href="@{/user/login}" class="btn btn-secondary">취소</a>
                        <a th:href="@{/user/findIdResult}" class="btn btn-primary" id="btnNext">다음</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- container end -->
</html>